* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgb(97, 97, 97) 50%,
    rgb(60, 60, 60) 100%,
    rgb(98, 98, 98) 50%
  );
}

#name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.yashsoni {
  background-color: #eeeeee;
  min-height: 100vh;
  width: 100%;
  float: left;
}
.contentcont {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  width: 20%;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.31);
  transition: all 0.5s ease;
}
.inner {
  text-align: center;
}
.inner > h3 {
  margin-bottom: 20px;
}
.heading {
  margin-right: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin-top: 35px;
  width: 100%;
}
.heading > img {
  height: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.inner > img {
  height: 50px;
  aspect-ratio: 1;
}
.inner > a {
  padding: 15px 25px;
  background-color: rgba(238, 238, 238, 0.251);
  border-radius: 15px;
  transition: all 0.5s ease;
}
.inner > p {
  margin-bottom: 30px;
}
.content:hover {
  background-color: rgba(238, 238, 238, 0.251);
  transform: scale(1.1);
}
.content:hover a {
  background-color: rgba(0, 0, 0, 0.31);
}
.detiel {
  margin-right: 30px;
}
@media (max-width: 450px) {
  .content {
    width: 80%;
  }
  .heading {
    flex-direction: column;
  }
}
@media (max-width: 880px) {
  .content {
    width: 80%;
  }
  .content:hover {
    background-color: rgba(0, 0, 0, 0.31); 
    transform: none;
  }

}